@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.product-display-container {
  border: 3px solid #333;
  /* background-color: white; */
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;
  height: 15rem;
  padding: 1rem;
  margin: .5rem;
  position: relative;
}

.product-display-content {
  width: 90%;
  height: 100%;
  padding: .5rem;
  background-color: #f9f9f9;
  overflow: auto;
  color: black;
  

}